
html, body {
  height: 100%;
  max-height: 100%;
  margin: 0;
}

.banner {
	@include linear-gradient(to right, #FCA183, #E4FC83, #91FC83, #009DED, #8583FC);
	// @include linear-gradient(#1e5799, #2989d8);
	padding: 200px 0;
	text-align: center;

	h1 {
		font-size: 3.2em;
		margin-bottom: .4em;
	}
}

.section {
	padding: 6em 0;
}

.footer {
	background: #FC8D83;
	padding: 6em 0;
	// color: darken(#FC8D83, 15%);
	color: #CB5247;
	margin-top: 6em;

	a {
		color: #CB5247;
		text-decoration: underline;
	}
}



.screen {
  display: table;
  width: 100%;
  height: 100%;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

table {
  width: 100%;
  margin: auto;
  border: none;
  margin-bottom: 4em;
    
  td { 
	  border: none;
		height: 80px; 

	}
}

.container {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

h2 {
	padding-top: 2em;
	border-top: 1px solid #ddd;
	font-size: 2em;
	margin-bottom: 2em;
}

form {

	.col {
		// width: 50%;
		display: inline-block;
		margin-bottom: 3em;
	}

	label {
		margin-right: 20px
	}

	input {
		text-align: center;
	}
}

.btn {
	background-color: transparent !important;
	border: 2px solid #FC8D83 !important;
	color: #FC8D83 !important;
	border-radius: 3px;
	font-size: 1em;
	font-weight: 600;
	line-height: 1;
	padding: .75em 1em;

	&:hover, &:active, &:focus {
		border: 2px solid #CB5247 !important;
		color: #CB5247 !important;
		outline: 0;
	}
}